.bgHomeBanner{
    background: url('/src/assets/background-image.png');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    width: 100%;
    height: 280px;
}