.bgsubscriptionImage{
    background: url('/src/assets/desktop-en-GB.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    width: 100%;
    height: 480px;
}